<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found!</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/shop" > Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product"> Add product</a></li>
                <li class="main-header__item"><a href="/contactus" class="active"> Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <form class = "form-control" action="/success" method = "POST">
        <label for="name">Name</label>
        <input type="text" id = "name"/>
        <label for="email">Email</label>
        <input type="text" id = "email"/>
        <button type = "submit">Submit</button>
    </form>
</body>
</html>
